<footer class="main-footer">
  <div class="content">
    <nav class="footer-nav">
      <ul>
        <li><a href="">AVISO DE PRIVACIDAD</a></li>
        <li><a href="">TÉRMINOS Y CONDICIONES</a></li>
      </ul>
    </nav>
    <p class="main-footer__copy">Todos los derechos reservados 2017. Empresa filial Productos Médicos y Hospitalarios S.A. de C.V.</p>
  </div>
</footer>
