<header class="main-header">
  <div class="content">
    <a href="/"><img src="/img/logo-pmh.png" alt="" class="logo"></a>
    <div class="site-search">
      <form action="search.html">
        <div class="tipue_search_right"><input type="text" name="q" id="tipue_search_input" pattern=".{3,}" title="¿Qué estás buscando?" placeholder="¿Qué estás buscando?" required></div>
        <div style="clear: both;"></div>
      </form>
    </div>
  </div>
</header>
