<nav class="main-nav">
  <div class="content">
    <ul>
      <li><a href="/">INICIO</a></li>
      <li><a href="/productos.html">NUESTROS PRODUCTOS</a></li>
      <li><a href="/vesicat.html">CONOCE VESICAT</a></li>
      <li><a href="">CONTÁCTANOS</a></li>
    </ul>
  </div>
</nav>
