<extends src='layout.html'>
  <block name='content'>
    <include src='/partials/header.html'></include>
    <include src='/partials/nav.html'></include>
    <main class="main-content">
      <section class="product-breadcrum">
        <div class="content">
          <nav class="breadcrum-nav">
            <ul>
              <li><a href="#">NUESTROS PRODUCTOS</a></li>
              <li class="divider">|</li>
              <li><a href="#">MARCA 3M</a></li>
              <li class="divider">|</li>
              <li><a href="#">HIGIENE DE MANOS</a></li>
              <li class="divider">|</li>
              <li class="active">AVAGARD CGH 1%</li>
            </ul>
          </nav>
        </div>
      </section>
      <section class="product-detail">
        <div class="content">
          <div class="product-slider__container">
            <div class="product-slider">
              <div class="product-slider__item"><img src="img/products/avangard-cgh.jpg" alt="" class="img-responsive"></div>
              <div class="product-slider__item"><img src="img/products/avangard-cgh.jpg" alt="" class="img-responsive"></div>
              <div class="product-slider__item"><img src="img/products/avangard-cgh.jpg" alt="" class="img-responsive"></div>
            </div>
          </div>
          <div class="product-detail__container">
            <h1 class="product__title">AVAGARD CGH 1%</h1>
            <p class="product__brand">MARCA 3M</p>
            <p class="product__category">HIGIENE DE MANOS</p>
            <h3 class="product__subtitle">Sistema de circuito cerrado para la instalación segura de sonda vesical</h3>
            <p class="product__copy">Kit todo en uno en 2 tiempos, diseño de empaque por pasos que permite un fácil manejo. Desechable y estéril. Calibres del Fr 8 al Fr 20.</p>
            <p class="product__copy"><b>Contenido del 1er tiempo:</b> <br>
            Campo estéril • Guantes • Gasas • Agua Bidestilada • Jabón 1% CHG  • Campo Absorbente</p>
            <p class="product__copy"><b>Contenido del 2do tiempo:</b> <br>
            Guantes •  Campo hendido • Sonda conectada a la bolsa • Jeringa • Agua para llenado del globo • Gasa • Jalea lubricante • Fijación • Etiqueta de identificación • Tubo para muestra de orina.</p>
            <p class="product__presentation">Presentaciones disponibles:</p>
            <table class="product__table">
             <tr>
               <th>Código</th>
               <th>Medida</th>
               <th>Contenido</th>
             </tr>
             <tr>
               <td>9200</td>
               <td>500 ml</td>
               <td>1 pieza</td>
             </tr>
            </table>
          </div>
        </div>
      </section>
    </main>
    <include src='/partials/footer.html'></include>
  </block>
</extends>
