<extends src='layout.html'>
  <block name='content'>
    <include src='/partials/header.html'></include>
    <include src='/partials/nav.html'></include>
    <main class="main-content">
      <section class="product-breadcrum">
        <div class="content">
          <nav class="breadcrum-nav">
            <ul>
              <li><a href="#">NUESTROS PRODUCTOS</a></li>
              <li class="divider">|</li>
              <li><a href="#">MARCA 3M</a></li>
              <li class="divider">|</li>
              <li><a href="#">CUIDADO DE HERIDAS</a></li>
              <li class="divider">|</li>
              <li class="active">CAVILON</li>
            </ul>
          </nav>
        </div>
      </section>
      <section class="product-detail">
        <div class="content">
          <div class="product-slider__container">
            <div class="product-slider">
              <div class="product-slider__item"><img src="img/products/CAVILON.jpg" alt="" class="img-responsive"></div>
              <div class="product-slider__item"><img src="img/products/CAVILON.jpg" alt="" class="img-responsive"></div>
              <div class="product-slider__item"><img src="img/products/CAVILON.jpg" alt="" class="img-responsive"></div>
            </div>
          </div>
          <div class="product-detail__container">
            <h1 class="product__title">"CAVILON No Sting Barrier "</h1>
            <p class="product__brand">MARCA 3M</p>
            <p class="product__category">HIGIENE DE MANOS</p>
            <p class="product__copy">Película Protectora sin Ardor</p>
            <p class="product__presentation">Presentaciones disponibles:</p>
            <table class="product__table">
             <tr>
               <th>Código</th>
               <th>Medida</th>
               <th>Contenido</th>
             </tr>
             <tr>
               <td>3343</td>
               <td>Hisopo 1 ml </td>
               <td>25 piezas</td>
             </tr>
             <tr>
               <td>3346</td>
               <td>Bomba 28ml </td>
               <td>12 pieza</td>
             </tr>
             <tr>
               <td>3344</td>
               <td>Toallita 1 ml</td>
               <td>30 piezas</td>
             </tr>
            </table>
          </div>
        </div>
      </section>
    </main>
    <include src='/partials/footer.html'></include>
  </block>
</extends>
