<extends src='layout.html'>
  <block name='content'>
    <include src='/partials/header.html'></include>
    <include src='/partials/nav.html'></include>
    <main class="main-content">
      <div class="slider">
        <div class="home-slider">
          <div><img src="img/slides/pmh-slide1.jpeg" class="img-responsive" alt=""></div>
          <div><img src="img/slides/pmh-slide1.jpeg" class="img-responsive" alt=""></div>
          <div><img src="img/slides/pmh-slide1.jpeg" class="img-responsive" alt=""></div>
        </div>
      </div>
      <section class="home-intro">
        <div class="content">
          <sidebar class="home-intro__callout">
            <img src="img/30-years.svg" alt="">
          </sidebar>
          <div class="home-intro__copy">
            <p>Con 30 años de experiencia contribuyendo al bienestar de su hospital y desarrollando soluciones acordes a sus necesidades, contamos con diferentes segmentos que responden a la prevención y disminución de factores de riesgo hospitalario.</p>
            <p>Estamos respaldados por las marcas líderes en el mercado con productos de excelente calidad y con las mejores condiciones comerciales.</p>
            <p>Nuestro compromiso esta basado en la transparencia, calidad y servicio a nuestros clientes.</p>
          </div>
        </div>
      </section>
      <section class="home-categories">
        <div class="content">
          <div class="home-category">
            <a href="#">
              <img src="img/home-banners/banner-esterilizacion.jpeg" alt="" class="home-category__img">
            </a>
          </div>
          <div class="home-category">
            <a href="#">
              <img src="img/home-banners/banner-cirugia.jpeg" alt="" class="home-category__img">
            </a>
          </div>
          <div class="home-category">
            <a href="#">
              <img src="img/home-banners/banner-heridas.jpeg" alt="" class="home-category__img">
            </a>
          </div>
          <div class="home-category">
            <a href="#">
              <img src="img/home-banners/banner-terapia.jpeg" alt="" class="home-category__img">
            </a>
          </div>
        </div>
      </section>
      <section class="home-clients">
        <div class="content">
          <h3 class="clients__title">Nuestros Principales Clientes</h3>
          <div class="clients-slider">
            <div class="clients__item">
              <img src="img/clients/hospitalangeles_logo.jpg" alt="">
            </div>
            <div class="clients__item smaller">
              <img src="img/clients/hospitalespanol_logo.jpg" alt="">
            </div>
            <div class="clients__item">
              <img src="img/clients/santacoleta_logov.jpg" alt="">
            </div>
          </div>
        </div>
      </section>
    </main>
    <include src='/partials/footer.html'></include>
  </block>
</extends>
