<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='description' content=''>
    <meta name='author' content='kaleblv'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <block name='title'>
      <title>PMH</title>
    </block>
    <link rel="stylesheet" href="./js/tipuesearch/css/tipuesearch.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="./js/tipuesearch/css/normalize.css">
    <link rel='stylesheet' href='css/index.css'>
  </head>
  <body>
    <main id='{{ pageId }}'>
      <block name='content'></block>
    </main>
    <block name='javascript'>
      <script src="vendor/jquery.js" defer></script>
      <script src="vendor/slick.min.js" defer></script>
      <script src="vendor/underscore.js" defer></script>
      <script src="vendor/facetedsearch.js" defer></script>
      <script src='js/main.js' defer></script>
    </block>
  </body>
</html>
