<extends src='layout.html'>
  <block name='content'>
    <include src='/partials/header.html'></include>
    <include src='/partials/nav.html'></include>
    <main class="main-content">
      <section class="product-breadcrum">
        <div class="content">
          <nav class="breadcrum-nav">
            <ul>
              <li><a href="#">NUESTROS PRODUCTOS</a></li>
              <li class="divider">|</li>
              <li><a href="#">MARCA 3M</a></li>
              <li class="divider">|</li>
              <li><a href="#">CINTAS MÉDICAS</a></li>
              <li class="divider">|</li>
              <li class="active">MICROPORE</li>
            </ul>
          </nav>
        </div>
      </section>
      <section class="product-detail">
        <div class="content">
          <div class="product-slider__container">
            <div class="product-slider">
              <div class="product-slider__item"><img src="img/products/MICROPORE.jpg" alt="" class="img-responsive"></div>
              <div class="product-slider__item"><img src="img/products/MICROPORE.jpg" alt="" class="img-responsive"></div>
              <div class="product-slider__item"><img src="img/products/MICROPORE.jpg" alt="" class="img-responsive"></div>
            </div>
          </div>
          <div class="product-detail__container">
            <h1 class="product__title">MICROPORE</h1>
            <p class="product__brand">MARCA 3M</p>
            <p class="product__category">CINTAS MÉDICAS</p>
            <p class="product__copy">Cinta adhesiva de papel</p>
            <p class="product__presentation">Presentaciones disponibles:</p>
            <table class="product__table">
             <tr>
               <th>Código</th>
               <th>Medida</th>
               <th>Contenido</th>
             </tr>
            <tr>
              <td>1530-0</td>
              <td>1/2" - 1.25 x 914 cm</td>
              <td>24 piezas</td>
            </tr>
            <tr>
              <td>1530-1</td>
              <td>1" - 2.5 x 914 cm</td>
              <td>12 piezas</td>
            </tr>
            <tr>
              <td>1530-2</td>
              <td>2" - 5.0 x 914 cm</td>
              <td>6 piezas</td>
            </tr>
            <tr>
              <td>1530-3</td>
              <td>3" - 7.5 x 914 cm</td>
              <td>4 piezas</td>
            </tr>
            </table>
          </div>
        </div>
      </section>
    </main>
    <include src='/partials/footer.html'></include>
  </block>
</extends>
