<extends src='layout.html'>
  <block name='content'>
    <include src='/partials/header.html'></include>
    <include src='/partials/nav.html'></include>
    <main class="main-content">
      <section class="product-breadcrum">
        <div class="content">
          <nav class="breadcrum-nav">
            <ul>
              <li><a href="#">NUESTROS PRODUCTOS</a></li>
              <li class="divider">|</li>
              <li><a href="#">MARCA B.BRAUN</a></li>
              <li class="divider">|</li>
              <li><a href="#">PREPARACIÓN DE MEDICAMENTOS</a></li>
              <li class="divider">|</li>
              <li class="active">MINISPIKE</li>
            </ul>
          </nav>
        </div>
      </section>
      <section class="product-detail">
        <div class="content">
          <div class="product-slider__container">
            <div class="product-slider">
              <div class="product-slider__item"><img src="img/products/MINISPIKE.jpg" alt="" class="img-responsive"></div>
              <div class="product-slider__item"><img src="img/products/MINISPIKE.jpg" alt="" class="img-responsive"></div>
              <div class="product-slider__item"><img src="img/products/MINISPIKE.jpg" alt="" class="img-responsive"></div>
            </div>
          </div>
          <div class="product-detail__container">
            <h1 class="product__title">MINISPIKE</h1>
            <p class="product__brand">MARCA B.BRAUN</p>
            <p class="product__category">PREPARACIÓN DE MEDICAMENTOS</p>
            <p class="product__copy">Dispositivo para inyección y extracción segura de  fluidos.  Medicamentos no tóxicos</p>
            <p class="product__presentation">Presentaciones disponibles:</p>
            <table class="product__table">
             <tr>
               <th>Código</th>
               <th>Medida</th>
               <th>Contenido</th>
             </tr>
             <tr>
               <td>4550242</td>
               <td>Filtro de aire 0.45 μm</td>
               <td>50 piezas</td>
             </tr>
            </table>
          </div>
        </div>
      </section>
    </main>
    <include src='/partials/footer.html'></include>
  </block>
</extends>
