<extends src='layout.html'>
  <block name='content'>
    <include src='/partials/header.html'></include>
    <include src='/partials/nav.html'></include>
    <main class="main-content">
      <section class="product-breadcrum">
        <div class="content">
          <nav class="breadcrum-nav">
            <ul>
              <li><a href="#">INICIO</a></li>
              <li class="divider">|</li>
              <li class="active">NUESTROS PRODUCTOS</li>
            </ul>
          </nav>
        </div>
      </section>
      <section class="product-header">
        <div class="content">
          <h1 class="product-grid-page__title">Nuestros Productos</h1>
        </div>
      </section>
      <section class="products">
        <div class="content">
          <div class="product-grid__container">
            <div class="product-filter__container">
              <nav class="product-filter">
                <!--
                <h2 class="product-filter__title">Categoría<span class="filter__toggle"></span></h2>
                <ul class="product-filter__list">
                  <li><a href="">Accesos Vasculares</a></li>
                  <li><a href="">Administración Intravenosa</a></li>
                  <li><a href="">Anestesia</a></li>
                  <li><a href="">Cintas Médicas</a></li>
                  <li><a href="">Cirugía Segura</a></li>
                  <li><a href="">Cuidado de Heridas</a></li>
                  <li><a href="">Cuidado del paciente</a></li>
                  <li><a href="">Esterilización</a></li>
                  <li><a href="">Higiene de Manos</a></li>
                  <li><a href="">Inmobilización</a></li>
                  <li><a href="">Monitoreo</a></li>
                  <li><a href="">Normotermia</a></li>
                  <li><a href="">Preparación de Medicamentos</a></li>
                  <li><a href="">Procedimientos Especializados</a></li>
                  <li><a href="">Suturas</a></li>
                  <li><a href="">Terapia de Infusión</a></li>
                </ul>
                <h2 class="product-filter__title">Marca<span class="filter__toggle"></span></h2>
                <ul class="product-filter__list">
                  <li><a href="">3M</a></li>
                  <li><a href="">B Braun</a></li>
                  <li><a href="">Jonhson & Jonhson</a></li>
                  <li><a href="">Vesicat</a></li>
                </ul>
              -->
              </nav>
            </div>
            <div class="product-grid">
              <!--
              <each loop="item of items">
                <div class="product-item">
                  <img src="{{ item.image_url }}" alt="" class="product-item__img img-responsive">
                  <h3 class="product-item__title">{{ item.name }}</h3>
                  <hr class="product-item__hr">
                  <p class="product-item__brand">{{ item.brand }}</p>
                  <p class="product-item__category">{{ item.category }}</p>
                  <p class="product-item__button"><a href="{{ item.product_url }}">Conoce Más</a></p>
                </div>
              </each>
              -->
            </div>
          </div>
        </div>
      </section>
      <section class="test">
        <div id=facets></div>
    <div id=results></div>
      </section>
    </main>
    <include src='/partials/footer.html'></include>
  </block>
</extends>
