<extends src='layout.html'>
  <block name='content'>
    <include src='/partials/header.html'></include>
    <include src='/partials/nav.html'></include>
    <main class="main-content">
      <section class="product-breadcrum">
        <div class="content">
          <nav class="breadcrum-nav">
            <ul>
              <li><a href="#">NUESTROS PRODUCTOS</a></li>
              <li class="divider">|</li>
              <li><a href="#">MARCA 3M</a></li>
              <li class="divider">|</li>
              <li><a href="#">CINTAS MÉDICAS</a></li>
              <li class="divider">|</li>
              <li class="active">"SCOTCHCAST PREMIUM Blanco"</li>
            </ul>
          </nav>
        </div>
      </section>
      <section class="product-detail">
        <div class="content">
          <div class="product-slider__container">
            <div class="product-slider">
              <div class="product-slider__item"><img src="img/products/SCOTCHCAST.jpg" alt="" class="img-responsive"></div>
              <div class="product-slider__item"><img src="img/products/SCOTCHCAST.jpg" alt="" class="img-responsive"></div>
              <div class="product-slider__item"><img src="img/products/SCOTCHCAST.jpg" alt="" class="img-responsive"></div>
            </div>
          </div>
          <div class="product-detail__container">
            <h1 class="product__title">"SCOTCHCAST PREMIUM Blanco"</h1>
            <p class="product__brand">MARCA 3M</p>
            <p class="product__category">CINTAS MÉDICAS</p>
            <p class="product__copy">Vendas de fibra de vidrio en rollo</p>
            <p class="product__presentation">Presentaciones disponibles:</p>
            <table class="product__table">
             <tr>
               <th>Código</th>
               <th>Medida</th>
               <th>Contenido</th>
             </tr>
             <tr>
               <td>J82002</td>
               <td>2" 5 x 365 cm</td>
               <td>10 piezas</td>
             </tr>
             <tr>
               <td>J82003</td>
               <td>3" 7.5 x 365 cm</td>
               <td>10 piezas</td>
             </tr>
             <tr>
               <td>J82004</td>
               <td>4" 10 x 365 cm</td>
               <td>10 piezas</td>
             </tr>
             <tr>
               <td>J82005</td>
               <td>5" 12.5 x 365 cm</td>
               <td>10 piezas</td>
             </tr>
            </table>
          </div>
        </div>
      </section>
    </main>
    <include src='/partials/footer.html'></include>
  </block>
</extends>
