<extends src='layout.html'>
  <block name='content'>
    <include src='/partials/header.html'></include>
    <include src='/partials/nav.html'></include>
    <main class="main-content">
      <section class="product-breadcrum">
        <div class="content">
          <nav class="breadcrum-nav">
            <ul>
              <li><a href="#">NUESTROS PRODUCTOS</a></li>
              <li class="divider">|</li>
              <li><a href="#">MARCA 3M</a></li>
              <li class="divider">|</li>
              <li><a href="#">CUIDADO DE HERIDAS</a></li>
              <li class="divider">|</li>
              <li class="active">TEGADERM + PAD</li>
            </ul>
          </nav>
        </div>
      </section>
      <section class="product-detail">
        <div class="content">
          <div class="product-slider__container">
            <div class="product-slider">
              <div class="product-slider__item"><img src="img/products/TEGADERM-PAD.jpg" alt="" class="img-responsive"></div>
              <div class="product-slider__item"><img src="img/products/TEGADERM-PAD.jpg" alt="" class="img-responsive"></div>
              <div class="product-slider__item"><img src="img/products/TEGADERM-PAD.jpg" alt="" class="img-responsive"></div>
            </div>
          </div>
          <div class="product-detail__container">
            <h1 class="product__title">TEGADERM + PAD</h1>
            <p class="product__brand">MARCA 3M</p>
            <p class="product__category">CUIDADO DE HERIDAS</p>
            <p class="product__copy">Apósito estéril transparente con almohadilla absorbente </p>
            <p class="product__presentation">Presentaciones disponibles:</p>
            <table class="product__table">
             <tr>
               <th>Código</th>
               <th>Medida</th>
               <th>Contenido</th>
             </tr>
             <tr>
               <td>3582</td>
               <td>5 x 5.7 cm</td>
               <td>50 piezas</td>
             </tr>
             <tr>
               <td>3584</td>
               <td>6 x 10 cm</td>
               <td>50 piezas</td>
             </tr>
             <tr>
               <td>3586</td>
               <td>9 x 10 cm</td>
               <td>25 piezas</td>
             </tr>
             <tr>
               <td>3589</td>
               <td>9 x 15 cm</td>
               <td>25 piezas</td>
             </tr>
             <tr>
               <td>3590</td>
               <td>9 x 20 cm</td>
               <td>25 piezas</td>
             </tr>
             <tr>
               <td>3591</td>
               <td>9 x 25 cm</td>
               <td>25 piezas</td>
             </tr>
             <tr>
               <td>3593</td>
               <td>9 x 35 cm</td>
               <td>25 piezas</td>
             </tr>
            </table>
          </div>
        </div>
      </section>
    </main>
    <include src='/partials/footer.html'></include>
  </block>
</extends>
