<extends src='layout.html'>
  <block name='content'>
    <include src='/partials/header.html'></include>
    <include src='/partials/nav.html'></include>
    <main class="main-content">
      <section class="vesicat-hero">
          <img src="/img/vesicat/vesicat-hero.jpg" alt="" class="img-responsive">
      </section>
      <section class="vesicat-features">
        <div class="content">
          <img src="/img/vesicat/vesicat-features.png" alt="" class="img-responsive">
        </div>
      </section>
      <section class="vesicat-description">
        <div class="content">
          <div class="vesicat-slider__container">
            <div class="vesicat-slider">
              <div>
                <img src="/img/vesicat/vesicat_front.png" class="img-responsive" alt="">
              </div>
              <div>
                <img src="/img/vesicat/vesicat_front.png" class="img-responsive" alt="">
              </div>
              <div>
                <img src="/img/vesicat/vesicat_front.png" class="img-responsive" alt="">
              </div>
            </div>
          </div>
          <div class="vesicat-info">
            <h2 class="vesicat-info__title">VESI-CAT <sup>PLUS</sup></h2>
            <h3 class="vesicat-info__subtitle">Sistema de circuito cerrado para la instalación segura de sonda vesical</h3>
            <p class="vesicat-info__copy">Kit todo en uno en 2 tiempos, diseño de empaque por pasos que permite un fácil manejo. Desechable y estéril. Calibres del Fr 8 al Fr 20.</p>
            <p class="vesicat-info__copy"><b>Contenido del 1er tiempo:</b> <br>
            Campo estéril • Guantes • Gasas • Agua Bidestilada • Jabón 1% CHG  • Campo Absorbente</p>
            <p class="vesicat-info__copy"><b>Contenido del 2do tiempo: </b> <br>
            Guantes •  Campo hendido • Sonda conectada a la bolsa • Jeringa • Agua para llenado del globo • Gasa • Jalea lubricante • Fijación • Etiqueta de identificación • Tubo para muestra de orina.</p>
            <p class="vesicat-info__quantity"><strong>Contenido: 17 piezas</strong></p>
          </div>
        </div>
      </section>
      <nav class="vesicat-nav">
        <div class="content">
          <ul>
            <li><a href="" class="vesicat-nav__link">Normatividad</a></li>
        <!--    <li><a href="" class="vesicat-nav__link">Manual de uso</a></li>
            <li><a href="" class="vesicat-nav__link">Video</a></li> -->
            <li><a href="" class="vesicat-nav__link">Jalea GC</a></li>
          </ul>
        </div>
      </nav>
    </main>
    <include src='/partials/footer.html'></include>
  </block>
</extends>
