.vesicat-info {
  color: rgba(130, 130, 130, 255);
}

.vesicat-info__title {
  color: rgba(71, 121, 187, 255);
  font-weight: 700;
  font-size: 24px;
}

.vesicat-info__subtitle {
  font-size: 17px;
  margin-bottom: 24px;
}

.vesicat-info__copy {
  font-size: 1em;
  margin-bottom: 24px;
}

.vesicat-info__copy b {
  font-weight: 500;
}

.vesicat-info__title sup {
  font-size: 10px;
}

.vesicat-nav {
  padding: 98px 0 67px;
  text-transform: uppercase;
  text-align: center;
}


.vesicat-description {
  background: #fbfbfb;
  padding: 60px;
}

.vesicat-nav .content ul li {
  padding: 25px;
  background: #4A7AB8;
  color: #fff;
  margin-bottom: 20px;
}

.vesicat-nav {
  background: url('../img/vesicat/circulos_vesicat.png') no-repeat center bottom;
}

.vesicat-nav__link {
  color: inherit;
  text-decoration: none;
}

.vesicat-nav__link:hover {
  color: rgba(141, 214, 232, 255);
  transition: 1s;
  text-shadow: 0px 2px 2px rgb(34, 53, 59);
}

.vesicat-nav .content ul li:last-child {
  margin-bottom: 0;
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .vesicat-features img {
    margin-top: -150px;
  }

  .vesicat-nav .content ul  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }

  .vesicat-nav .content ul li {
    margin-bottom: 0;
  }



  .vesicat-info__title {
    font-size: 28px;
  }

  .vesicat-info__subtitle {
    margin-bottom: 32px;
  }

  .vesicat-info__subtitle, .vesicat-info__quantity strong  {
    font-size: 21px;
  }

  .vesicat-info__copy, .vesicat-info__copy b {
    font-size: 1em;
    margin-bottom: 32px;
    line-height: 26px;
  }

  .vesicat-info__title sup {
    font-size: 14px;
  }
}


/* Extra extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


/* Extra extra large devices (large desktops, 1600px and up) */
@media (min-width: 1600px) {
  .vesicat-info__title {
    font-size: 48px;

  }

  .vesicat-info__title sup {
    font-size: 20px;
  }

  .vesicat-info__subtitle, .vesicat-info__quantity strong {
    font-size: 34px;
  }



  .vesicat-info__copy, .vesicat-info__copy b {
    font-size: 1em;
    margin-bottom: 48px;
    line-height: 46px;
  }

}
