.main-header {
  background: #152159;
  padding: 30px 0;
}

.main-header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

#tipue_search_input {
  border-radius: 50px;
  width: 100%;
  max-width: 100%;
  background-image: url('/img/icon-search.png');
  background-repeat: no-repeat;
  background-position: 96% center;
  font-size: 1.125em;
  padding: 13px 53px;
  border: none;
  margin-top: 30px;
  background-size: 23px;
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main-header .content {
    flex-direction: row;
  }
}


/* Extra extra large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) {
  .main-header {
    padding-top: 105px;
    padding-bottom: 70px;
  }

  #tipue_search_input {
    border-radius: 50px;
    max-width: 660px;
    width: 660px;
    background-image: url('/img/icon-search.png');
    background-repeat: no-repeat;
    background-position: 96% center;
    font-size: 1.5em;
    padding: 13px 53px;
    border: none;
  }
}
