.slider {
  position: relative;
}

.arrow-left, .arrow-right {
  position: absolute;
  z-index: 100;
  display: inline;
  top: 45%;
  cursor: pointer;
}

.arrow-left {
  left: 2.5%;
}

.arrow-right {
  right: 2.5%;
}


.vesicat-slider__container .slick-slide img {
  padding: 55px 53px 0;
}
