.main-nav {
  background: #0871b7;
  color: #fff;
}

.main-nav .content ul {
  display: flex;
  flex-direction: column;
}

.main-nav .content ul a {
  color: inherit;
  text-decoration: none;
  font-size: 0.875em;
}

.main-nav .content ul li {
  text-align: center;
  width: 100%;
  padding: 15px 5px;
  border-bottom: 1px solid #519bcc;
  letter-spacing: .5px;
}

.main-nav .content ul li:hover {
  color: rgba(141, 214, 232, 255);
  transition: 1s;
  text-shadow: 0px 2px 2px rgb(34, 53, 59);
}

.main-nav .content ul li:last-child {
  border-bottom: none;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main-nav .content ul {
    flex-direction: row;
  }

  .main-nav .content ul li {
    border-right: 1px solid #519bcc;
    border-bottom: none;
    margin: 10px 0;
  }

  .main-nav .content ul li:last-child {
    border-right: none;
  }
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) {
  .main-nav .content ul {
    justify-content: space-between;
  }

  .main-nav .content ul a {
    font-size: 1.5em;
  }

  .main-nav .content ul li {
    padding: 10px 5px;
  }
}
