.main-footer {
  background: #152159;
  color: rgba(141, 214, 232, 255);
  padding: 35px 0;
}

.footer-nav ul {
  display: flex;
  justify-content: space-around;
  margin-bottom: 70px;
  align-items: center;
  flex-direction: column;
}

.footer-nav ul a {
  color: inherit;
  text-decoration: none;
  font-size: 0.875em;
  margin: 5px 0;
  width: 100%;
  float: left;
  letter-spacing: .5px;
}

.footer-nav ul a:hover {
    color: #fff;
    text-shadow: 0px 2px 2px rgb(34, 53, 59);
    transition: 1s;
}

.main-footer__copy {
  color: #fff;
  text-align: center;
  font-size: 0.875em;
  line-height: 1.5em;
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .footer-nav ul {
    flex-direction: row;
  }
}


/* Extra extra large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) {
  .main-footer {
    padding: 129px 0 68px;
  }

  .footer-nav ul {
    margin-bottom: 94px;
  }

  .footer-nav ul a {
    font-size: 1.5em;
  }

  .main-footer__copy {
    font-size: 1.125em;
  }
}
