.home-categories {
  padding: 0;
}

.home-categories .content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-category {
  margin-bottom: 23px;
}

.home-category:last-child {
  margin-bottom: 0;
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .home-categories .content {
    flex-direction: row;
  }

  .home-category {
    margin-right: 18px;
    margin-bottom: 0;
  }

  .home-category:last-child {
    margin-right: 0;
  }

  .home-categories {
    padding: 20px 0;
  }
}


/* Extra extra large devices (large desktops, 1600px and up) */
@media (min-width: 1600px) {
  .home-categories {
    padding: 40px 0;
  }

  .home-categories .content {
    justify-content: space-between;
  }
}
