.home-clients {
  padding: 50px 0;
}

.clients-slider {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 150px;
  padding: 15px 0;
  align-items: center;
}

.clients__title {
  color: #fff;
  text-align: center;
  margin: 15px 0;
  font-size: 1.375em;
  font-weight: 400;
  background: #b5b5b5;
  text-transform: uppercase;
  padding: 10px 0;
}

.clients__item {
  margin: 0 auto 35px;
  text-align: center;
  max-width: 250px;
}

.clients__item:last-child {
  margin-bottom: 0;
}

.clients__item.smaller {
  max-width: 200px;
}

.clients__item:last-child {
  margin-bottom: 0;
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .clients-slider {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .clients__item {
    margin-bottom: 0;
  }
}



/* Extra extra large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) {
  .clients-slider {
    padding: 38px 0;
  }
}
