.home-intro {
  padding: 80px 30px;
}

.home-intro .content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.home-intro__copy p {
  font-size: 1.125em;
  line-height: 2em;
  margin: 0 0 2em 0;
  color: rgba(61, 61, 60, 255);
}

.home-intro__copy p:last-child {
  margin: 0;
}

.home-intro__callout {
  margin-bottom: 60px;
}

.home-intro__callout-years {
  color: #0871b7;
  font-size: 5em;
  font-weight: 900;
}

.home-intro__callout-experience {
  color: #5ED7EA;
  font-size: 2.65em;
  font-weight: 900;
}

.home-intro__callout-contribution {
  color: #3d3d3c;
  font-size: 1.8em;
  font-weight: 700;
}


/*  medium devices (tablets, desktops, 1024px and up) */
@media (min-width: 1024px) {
  .home-intro .content {
    flex-direction: row;
  }

  .home-intro__callout {
    margin-right: 127px;
    width: 40%;
  }

  .home-intro__copy {
    width: 60%
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


/* Extra extra large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) {
  .home-intro {
    padding: 59px;
  }

  .home-intro__copy p {
    font-size: 1.5em;
  }

  .home-intro__callout-years {
    font-size: 7em;
  }

  .home-intro__callout-experience {
    font-size: 3.65em;
  }

  .home-intro__callout-contribution {
    font-size: 2.8em;
  }
}
