.product-grid-page__title {
  color: rgba(21, 33, 89, 255);
  text-transform: uppercase;
  border-left: 3px solid #0871b7;
  font-size: 1.875em; /* 30px */
  padding-left: 10px;
  margin-bottom: 30px;
  font-weight: 500;
}

.product-filter {
  background: #F8F8F8;
  padding: 0 15px 15px;
}

.products {
  margin-bottom: 30px;
}

.product-filter__title {
  font-weight: 700;
  color: rgba(61, 61, 61, 255);
  padding: 15px 0;
  border-bottom: 1px solid #B6B6B6;
  margin-bottom: 15px;
}

.product-filter__list li {
  color: rgba(0, 113, 187, 255);
  margin-bottom: 5px;
  font-size: 0.875em; /* 14px */
}

.product-grid__container {
  display: grid;
  grid-template-columns:  1fr 3fr;
  grid-column-gap: 10px;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 30px
}

.product-item {
  padding: 0 10px 10px;
  text-align: center;
  color: #B6B6B6;
  text-transform: uppercase;
  font-size: 0.875em; /* 14px */
}

.product-item:hover {
  border: 1px solid #B6B6B6;
}

.product-item__img {
  margin-bottom: 15px;
}

.product-item__title {
  color: rgba(0, 113, 187, 255);
  font-weight: 700;
  margin-bottom: 15px;
  min-height: 36px;
}

.product-item__hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #B6B6B6;
    padding: 0;
    margin-bottom: 15px;
}

.product-item__category {
  margin-bottom: 15px;
  min-height: 36px;
}

.product-item__brand {
  font-weight: 700;
  color: rgba(61, 61, 61, 255);
}

.product-item__button {
  background: #2576B2;
  padding: 5px;
  border-radius: 30px;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
  font-size: 0.875em; /* 14px */
  width: 100%;
  display: block;
}

.product__table {
  width: 100%;
}
