.product-detail__container {
  color: rgba(130, 130, 130, 255);
}

.product__title {
  color: #0071bb;
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 50px;
}

.product__brand {
  font-weight: 700;
}

.product__category {
  margin-bottom: 24px;
}

.product-detail {
  background: #fbfbfb;
  padding: 50px;
  margin-bottom: 50px;
}

.product__subtitle, .product__presentation, .product__footer {
  font-size: 1.375em;
  margin-bottom: 24px;
}

.product__subtitle, .product__presentation {
  font-weight: 500;
}

.product__copy {
  margin-bottom: 24px;
}

.product__copy b {
  font-weight: 500;
}

span.product__code {
  font-weight: 700;
  font-size: 0.9166666667em;
}

.breadcrum-nav {
  color: #b5b5b5;
  font-weight: 500;
  padding: 25px 0;
}

.breadcrum-nav ul {
  display: flex;
  flex-direction: column;
}

.breadcrum-nav a {
  text-decoration: none;
  color: inherit;
}

.breadcrum-nav .active {
  color: #3d3d3d;
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .product-detail .content {
    display: flex;
    align-items: center;
  }

  .product-slider__container {
    margin-right: 5%;
  }

  .product-slider__container, .product-detail__container {
    width: 50%;
  }

  .breadcrum-nav ul {
    flex-direction: row;
  }

  .breadcrum-nav ul li.divider {
    margin: 0 12.5px;
  }
}

/* Extra extra large devices (large desktops, 1600px and up) */
@media (min-width: 1600px) {
  .breadcrum-nav ul li {
    font-size: 1.5em;
  }

  .breadcrum-nav ul li a  {
    font-size: 1em;
  }

  .product__title {
    font-size: 3em;
  }

  .product__brand {
    font-size: 2em;
  }

  .product__category {
    font-size: 2em;
    margin-bottom: 32px;
  }

  .product__copy  {
    font-size: 2.125em;
  }

  .product__copy b {
    font-size: 1em;
  }



  .product__subtitle, .product__presentation, .product__footer {
    font-size: 2.525em;
    margin-bottom: 32px;
  }






}
