@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

p {
  font-size: 1em;/* 16px */
  font-weight: 400;
}
