.content {
  padding: 0 15px;
  margin: 0 auto;
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* vesicat page */
  .vesicat-description .content {
    display: flex;
  }

  .vesicat-slider__container, .vesicat-info {
    width: 50%;
  }
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .content {
    max-width: 1140px;
  }
}

/* Extra extra large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) {
  .content {
    max-width: 1600px;
  }
}
